body {
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #172A3A;
    width: auto;
    color: white;
    border-bottom: 1px solid #ddd;
}
.logo {
    width: 250px;
    height: auto;
}
.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}
.nav-buttons a {
    text-decoration: none;
    padding: 5px 20px;
    background-color: #edeef0;
    color: rgb(12, 11, 11);
    border-radius: 5px;
}
.search-container{
    position: relative;
    flex-basis: 100%;
    margin-top: 10px;
}
.search-container input{
    width: 200px;
    height: 50px;
    border: 1px solid #ece8e8;
    border-radius: 5px;
    padding-left: 35px;

}
.search-container i {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-10%);
    color: #a08d8d;
}
@media (min-width: 768px) {
    .nav-buttons {
        justify-content: flex-end;
    }
    .search-container {
        flex-basis: auto;
    }
}
/* Estilos para el formulario */
.form-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #74B3CE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 18rem;
    display: inline-block;
    vertical-align: top;
}

.card img {
    width: 100%;
    height: auto;
}

.accordion {
    margin-top: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

