body {
  font-family: Arial, sans-serif;
  background-color: #fff
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%
}

.card,
.header {
  display: flex;
  width: 100%
}

.card {
  background: #0072a3;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  text-align: center;
  height: 420px;
  flex-direction: column;
  justify-content: center;
  left: 20px;
  top: 46px;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px
}

.card h2 {
  font-size: 17px
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto
}

.card img,
.empresa-logo {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex
}

.empresa-logo {
  width: 130px;
  height: 120px;
  border-radius: 70%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-top: 30px
}

.empresa-info {
  justify-content: left
}

.descripcion-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  width: 100%
}

.descripcion-texto {
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  text-align: justify
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  gap: 20px
}

.contact img {
  max-width: 500px;
  height: auto;
  flex-shrink: 0
}

.contact h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #000
}

.contact p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.8;
  color: #000
}

:root {
  --background-primary: #0c1e2c;
  --background-secondary: #0072a3;
  --text-primary: #fff;
  --text-secondary: #d6d6d6;
  --accent-primary: #000;
  --accent-secondary: #04302384;
  --accent-tertiary: #000;
  --card-background: #005e45;
  --footer-background: #087b5a;
  --footer-below-background: #005e45;
  --text-herotitle: #000;
  --about-color: #005e45c9;
  --svg-color: #005e45c9;
  --color-2: #098e68c2;
  --color-3: #09bc8a;
  --color-4: #0385bd;
  --color-5: #102b3e
}

@media (max-width:768px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
  }

  .descripcion-container {
    flex-direction: column;
    display: flex
  }

  .descripcion-texto {
    width: 80%;
    text-align: left;
    padding: 0
  }

  .contact {
    flex-direction: column;
    align-items: center
  }

  .card {
    margin-left: 0;
    max-width: 70%
  }

  .card,
  .descripcion-container {
    text-align: center;
    align-items: center;
    justify-content: center
  }
}