{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Camejobs</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>
<body>
    <div class="content-box">
        <img src="{% static 'img/logo.jpg' %}" alt="Logo de Camejobs" class="logo">

        <h1>Bienvenido a Camejobs</h1>
        <p>Elige cómo deseas registrarte:</p>
        <a class="registro-button" href="{% url 'registro_persona' %}">Registrarse como Persona</a>
        <br>
        <a class="registro-button" href="{% url 'registro_empresa' %}">Registrarse como Empresa</a>
        <br><br>
        <p class="login-link">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
    </div>
</body>
</html>