{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Camejobs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/paginaPrincipal.css' %}">
    <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">

            <!-- From Uiverse.io by EddyBel -->
            <label class="switch">
                <input type="checkbox" id="dark-mode-toggle" class="input__check">
                <span class="slider"></span>
            </label>

            <!-- Si quieres conservar solo el texto "Camejobs" a la izquierda, 
                quita la imagen de aquí y déjalo así: -->
            <div class="logo-superior">
                <img src="{% static 'img/Logo camejobs blanco.png' %}" alt="Camejobs">
                <a href="#">Camejobs</a>
            </div>

            <!-- Menú de navegación -->
            <ul class="nav-links">
                <li><a href="{% url 'pagina_ofertas' %}">Ofertas</a></li>
                <li><a href="{% url 'busquedas_pagina' %}">Perfiles</a></li>
                <li><a href="{% url 'busquedas_pagina' %}">Empresas</a></li>
            </ul>

            <!-- Contenedor de la barra de búsqueda -->
            <div class="search-container">
                <img src="{% static 'img/Logo camejobs.png' %}" width="40" height="30" alt="Camejobs">
                <input type="text" placeholder="Buscar en Camejobs">
            </div>
        </div>
    </nav>

    <header class="hero">
        <div class="overlay">
            <div class="hero-content">
                <h1>Conecta con tu próximo reto profesional</h1>
                <p>Explora, postula y recibe ofertas personalizadas en el campo laboral que deseas.</p>
                <div class="botones">
                    <a href="{% url 'login' %}"><button>Inicia sesión</button></a>
                    <a href="{% url 'inicio' %}"><button>Regístrate</button></a>
                </div>  
            </div>
        </div>
    </header>

    <section class="cards-container">
        <div class="card">
            <img src="{% static 'img/44.jpg' %}" alt="Talento">
            <h2>Encuentra el Talento que tu Empresa Necesita</h2>
            <p>Registra tu empresa y accede a un extenso catálogo de perfiles profesionales.</p>
            <button>Ir a Perfiles</button>
        </div>
        <div class="card">
            <img src="{% static 'img/55.jpg' %}" alt="Oportunidades">
            <h2>Explora Oportunidades Laborales</h2>
            <p>Descubre ofertas de trabajo que se ajustan a tus intereses y habilidades.</p>
            <button>Ver Ofertas de Empleo</button>
        </div>
        <div class="card">
            <img src="{% static 'img/66.jpg' %}" alt="Empresas">
            <h2>Encuentra con Quién Deseas Trabajar</h2>
            <p>Explora empresas y descubre aquellas que se alinean con tus intereses y valores.</p>
            <button>Ver Empresas</button>
        </div>
    </section>

    <section class="about">
        <div class="about-content">
            <h2>¿Quiénes Somos?</h2>
            <p>En Camejobs, creemos en el poder de conectar talento con oportunidades. Nuestra misión es ayudar a personas de todos los niveles de experiencia
                a encontrar empleos que se ajusten a sus habilidades, pasiones y objetivos profesionales. Somos una plataforma moderna y accesible que utiliza 
                tecnología avanzada para hacer más eficiente el proceso de búsqueda de empleo.</p>
            <button>Sobre Nosotros</button>
        </div>
        <img src="{% static 'img/Quienes somos2.jpg' %}" alt="Imagen de quiénes somos">
    </section>

    <section class="contact">
        <img src="{% static 'img/contactanos.png' %}" alt="contactanos">
        <div class="contact-content">
            <h2>¿No encuentras lo que buscas?</h2>
            <p>¿Tienes alguna pregunta o necesitas ayuda? Estamos aquí para apoyarte en cada paso de tu búsqueda de empleo. Ya sea que estés 
                buscando el trabajo de tus sueños, necesitas orientación sobre cómo postularte, o tienes alguna consulta sobre nuestra plataforma, 
                no dudes en ponerte en contacto con nosotros.</p>
            <button>Contáctanos</button>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-top">
            <div class="footer-text">Conócenos a través de nuestras redes</div>
            <div class="social-icons">
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 512"><!--FACEBOOK--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg></a>
                <!-- Otros iconos sociales -->
            </div>
        </div>

        <div class="footer-content">
            <div class="footer-section">
                <h6 class="logo-title">
                    <img class="logo" src="{% static 'img/Logo camejobs.png' %}" alt="Camejobs">
                    <h6>Camejobs</h6>
                </h6>
                <div class="logo-description">
                    <p>Descubre ofertas de trabajo, explora perfiles profesionales y accede a recursos para mejorar tu carrera.</p>
                </div>
            </div>

            <div class="footer-section">
                <h6 class="section-title">Navegación</h6>
                <ul class="footer-links">
                    <li><a href="#!">Inicio</a></li>
                    <li><a href="#!">Ofertas</a></li>
                    <li><a href="#!">Perfiles</a></li>
                    <li><a href="#!">Empresas</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h6 class="section-title">Enlaces Útiles</h6>
                <ul class="footer-links">
                    <li><a href="#!">Política de privacidad</a></li>
                    <li><a href="#!">Términos y condiciones</a></li>
                    <li><a href="{% url 'faqs_pagina' %}">Soporte</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h6 class="section-title">Contáctanos</h6>
                <p>Email: contacto@camejobs.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
        </div>

        <div class="footer-below">
            <p>&copy; 2025 Camejobs - Todos los derechos reservados.</p>
        </div>
    </footer>      
<script src="{% static 'js/darkmode.js' %}"></script>
</body>
</html>
