{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Camejobs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/paginaPrincipal.css' %}">
    <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>
<body>
    {% include 'usuarios/navbar.html' %}

    <header class="hero" style="background: url({% static 'img/working.jpg' %}) no-repeat 50%/cover;">
        <div class="overlay">
            <div class="hero-content">
                <h1>Conecta con tu próximo reto profesional</h1>
                <p>Explora, postula y recibe ofertas personalizadas en el campo laboral que deseas.</p>
                <div class="botones">
                    <a href="{% url 'login' %}"><button>Inicia sesión</button></a>
                    <a href="{% url 'inicio' %}"><button>Regístrate</button></a>
                </div>  
            </div>
        </div>
    </header>

    <section class="cards-container">
        <div class="card">
            <img src="{% static 'img/44.jpg' %}" alt="Talento">
            <h2>Encuentra el Talento que tu Empresa Necesita</h2>
            <p>Registra tu empresa y accede a un extenso catálogo de perfiles profesionales.</p>
            <button>Ir a Perfiles</button>
        </div>
        <div class="card">
            <img src="{% static 'img/55.jpg' %}" alt="Oportunidades">
            <h2>Explora Oportunidades Laborales</h2>
            <p>Descubre ofertas de trabajo que se ajustan a tus intereses y habilidades.</p>
            <button>Ver Ofertas de Empleo</button>
        </div>
        <div class="card">
            <img src="{% static 'img/66.jpg' %}" alt="Empresas">
            <h2>Encuentra con Quién Deseas Trabajar</h2>
            <p>Explora empresas y descubre aquellas que se alinean con tus intereses y valores.</p>
            <button>Ver Empresas</button>
        </div>
    </section>

    <section class="about">
        <div class="about-content">
            <h2>¿Quiénes Somos?</h2>
            <p>En Camejobs, creemos en el poder de conectar talento con oportunidades. 
                Nuestra misión es ayudar a personas de todos los niveles de experiencia a encontrar empleos que se ajusten a sus habilidades, pasiones y objetivos profesionales. 
            </p>
            <button>Sobre Nosotros</button>
        </div>
        <img src="{% static 'img/Quienes somos2.jpg' %}" alt="Imagen de quiénes somos">
    </section>

    <section class="contact">
        <img src="{% static 'img/contactanos.png' %}" alt="contactanos" class="contact-img">
        <div class="contact-content">
            <h2>¿Encuentras lo que buscas?</h2>
            <p>¿Tienes alguna pregunta o necesitas ayuda? Estamos aquí para apoyarte en cada paso de tu búsqueda de empleo.</p>
            <button>Contáctanos</button>
        </div>
    </section>

    {% include 'usuarios/footer.html' %}     

<script src="{% static 'js/darkmode.js' %}"></script>
</body>
</html>
