{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ persona.nombre_completo }}</title>
    <link rel="stylesheet" href="{% static 'css/perfil_persona.css' %}">
</head>

<body>

    {% include 'usuarios/navbar.html' %}

    <br><br><br><br><br>
    
    <!-- Contenedor del perfil -->
    <div class="perfil-container">
        <!-- Tarjeta lateral izquierda -->
        <div class="tarjeta-persona">
            <div class="persona-foto">
                {% if persona.foto_perfil %}
                    <img src="{{ persona.foto_perfil.url }}" alt="Foto de {{ persona.nombre_completo }}">
                {% else %}
                    <img src="{% static 'img/default_profile.png' %}" alt="Foto por defecto">
                {% endif %}
            </div>
            <h2>{{ persona.nombre_completo }}</h2>
            <h3>{{persona.profesion}}</h3>
        </div>

        <!-- Información del usuario -->
        <div class="info-persona">
            <h1>Perfil Laboral</h1>
            <p>{{ persona.perfil_laboral }}</p>
            <hr>
            <ul class="detalles">
                <h1>Contactame</h1>
                <li><strong>📧 Correo Electrónico:</strong> {{ persona.email }}</li>
                <li><strong>📞 Teléfono:</strong> {{ persona.telefono }}</li>
                <hr>
                <li><strong>📍 Ubicación:</strong> {{ persona.ubicacion }}</li>
                <hr>
                <li><strong>Sobre mí:</strong> {{ persona.habilidades }}</li>
                <hr>
                <li><strong>🧑‍💼 Experiencia laboral:</strong></li>
                <ul>
                    {% for experiencia in experiencias %}
                        <li style="margin-bottom: 1em;">
                            <strong>{{ experiencia.cargo }}</strong> en <em>{{ experiencia.nombre_empresa }}</em><br>
                            {{ experiencia.descripcion }}<br>
                            <small>
                                {{ experiencia.fecha_inicio|date:"F Y" }} -
                                {% if experiencia.en_progreso %}
                                    Actualmente
                                {% else %}
                                    {{ experiencia.fecha_fin|date:"F Y" }}
                                {% endif %}
                            </small>
                        </li>
                    {% empty %}
                        <li>No hay experiencia laboral registrada.</li>
                    {% endfor %}
                </ul>
                <hr>
                <li><strong>📚 Formación academica</strong></li>
                <ul>
                    {% for formacion in formaciones %}
                        <li style="margin-bottom: 1em">
                            <strong>{{ formacion.titulo_obtenido }}</strong> en <em>{{formacion.institucion}}</em><br>
                            {{ formacion.nivel_educativo }}<br>
                            <small>
                                {{ formacion.fecha_inicio|date:"F Y"}} - 
                                {% if formacion.en_progreso %}
                                    Actualmente
                                {% else %}
                                    {{ formacion.fecha_fin|date:"F Y" }}
                                {% endif %}
                            </small>
                        </li>
                    {% empty %}
                        <li>No hay formación académica</li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
    </div>

    {% include 'usuarios/footer.html' %}
    
</body>
</html>
