{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ empresa.razon_social }}</title>
    <link rel="stylesheet" href="{% static 'css/perfil_empresa.css' %}">
</head>

<body>
    {% include 'usuarios/navbar.html' %}

    <br><br><br><br><br>

    <!--Tarjeta izquierda-->
    <div class="perfil-container">
        <div class="tarjeta-empresa">
            <div class="empresa-logo">
                {% if empresa.logo %}
                <img src="{{ empresa.logo.url }}" alt="Logo de {{ empresa.razon_social }}">
                {% else %}
                <img src="{% static 'img/default-logo.png' %}" alt="Logo por defecto">
                {% endif %}
            </div>
            <h2>{{ empresa.razon_social }}</h2>
            <h2>{{ empresa.eslogan }}</h2>
        </div>

        <!--Información de la empresa -->
        <div class="info-empresa">
            <h1>¿Quiénes somos?</h1>
            <p>{{ empresa.descripcion }}</p>

            <hr>

            <ul class="detalles">
                {% if empresa.sitio_web %}
                <li><strong>🌐 Sitio web:</strong> <a href="{{ empresa.sitio_web }}" target="_blank">{{
                        empresa.sitio_web }}</a></li>
                {% endif %}
                <li><strong>🏢 Razón social:</strong> {{ empresa.razon_social }}</li>
                <li><strong>📞 Teléfono:</strong> {{ empresa.telefono }}</li>
                <li><strong>📍 Ubicación:</strong> {{ empresa.ubicacion }}</li>
                <li><strong>✉️ Correo Electrónico:</strong> {{ empresa.email }}</li>
                <li><strong>📍 Dirección:</strong> {{ empresa.direccion}}</li>
            </ul>
        </div>
    </div>
    
    {% include 'usuarios/footer.html' %}

</body>

</html>