{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Camejobs{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/calificar_empresa.css' %}">
  <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>

<body>

  <h1>Calificar a {{ empresa.razon_social }}</h1>
    <form method="post" class="formulario">
      {% csrf_token %}
      <div class="form-group">{{ form.as_p }}</div>
      <button type="submit" class="btn-enviar">Enviar Calificación</button>
    </form>
    <a href="{% url 'postulaciones' %}">
      <button>Volver a Inicio</button>
    </a>
  
</body>
</html>

