{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Camejobs{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/listar_postulaciones.css' %}">
  <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>

<body>

  {% include 'usuarios/navbar.html' %}
  <div class="postulaciones-container">
    <h1>Postulaciones para "{{ oferta.titulo }}"</h1>
    <a href="{% url 'postulaciones' %}">
      <button class="btn-accion btn-rechazar">Volver a postulaciones</button>
    </a>
    <br /><br />
    {% for postulacion in postulaciones %}
    <div class="postulacion">
      <h3>{{ postulacion.trabajador.usuario.username }}</h3>
      <p>
        <strong>Fecha de Postulación: {{ postulacion.fecha_postulacion}}
        </strong>
      </p>
      <p><strong>Estado:</strong> {{ postulacion.estado }}</p>

      <div class="acciones">
        {% if postulacion.estado == 'Pendiente' %}
        <a href="{% url 'gestionar_postulacion' postulacion.id 'aceptar' %}">
          <button class="btn-accion btn-aceptar">Aceptar</button>
        </a>
        <a href="{% url 'gestionar_postulacion' postulacion.id 'rechazar' %}">
          <button class="btn-accion btn-rechazar">Rechazar</button>
        </a>
        {% elif postulacion.estado == 'Aprobado' %}
        <a href="{% url 'calificar_persona' postulacion.id %}">
          <button class="btn-accion btn-calificar">Calificar Persona</button>
        </a>
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>
  {% include 'usuarios/footer.html' %}

</body>

</html>