{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ofertas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/pag_ofertas.css' %}">
    <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>

<body>
    <div class="main-content">
        <!-- Navbar -->
        {% include 'usuarios/navbar.html' %}

        <main>
            <!-- Botón hamburguesa para filtros -->
            <button id="toggleFiltros" class="btn-filtros">☰ Filtros</button>
            <div class="oferta-container">
                <!-- Sección izquierda: Filtros -->
                <aside class="filtros" id="filtrosContainer">
                    <h2>Filtros</h2>

                    <!-- Barra de búsqueda -->
                    <span class="texto">Buscar</span>
                    <div class="input-container">
                        <input type="text" id="searchBar" placeholder="Buscar oferta, descripción o empresa"
                            onkeyup="applyFilters()">
                        <img src="{% static 'img/logo camejobs.png' %}" alt="Buscar">
                    </div>
                    <br>

                    <!-- Filtro de modalidad de ubicacion -->
                    <span class="texto">Ubicación</span>
                    <select id="filterUbicacion" class="filter-select" onchange="applyFilters()">
                        <option class="filter-select-option" value="">Ubicación</option>
                        {% for ubicacion in ubicaciones %}
                        <option class="filter-select-option" value="{{ ubicacion }}">{{ ubicacion }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <!-- Filtro de salario -->
                    <span class="texto">Salario</span>
                    <select id="filterSalario" class="filter-select" onchange="applyFilters()">
                        <option class="filter-select-option" value="">Salario</option>
                        <option class="filter-select-option" value="0-3000000">$0 a $3.000.000</option>
                        <option class="filter-select-option" value="3000000-6000000">$3.000.000 a $6.000.000</option>
                        <option class="filter-select-option" value="6000000-9000000">$6.000.000 a $9.000.000</option>
                        <option class="filter-select-option" value="9000000-12000000">$9.000.000 a $12.000.000</option>
                        <option class="filter-select-option" value="12000000-mas">$12.000.000 o más</option>
                    </select>
                    <br>

                    <!-- Filtro de empresa -->
                    <span class="texto">Empresa</span>
                    <select id="filterEmpresa" class="filter-select" onchange="applyFilters()">
                        <option class="filter-select-option" value="">Empresa</option>
                        {% for empresa in empresas %}
                        <option class="filter-select-option" value="{{ empresa }}">{{ empresa }}</option>
                        {% endfor %}
                    </select>
                    <br>
                </aside>

                <!-- Sección derecha: Listado de ofertas -->

                <section class="ofertas">
                    {% for oferta in ofertas %}
                    <div class="oferta-card" onclick="abrirModal('modal-{{ oferta.id }}')">
                        <div class="oferta" data-empresa="{{ oferta.empresa.razon_social }}"
                            data-ubicacion="{{ oferta.ubicacion }}"
                            data-salario="${{ oferta.salario|floatformat:0 }} (Mensual)"
                            data-categoria="{{ oferta.titulo }}" data-titulo="{{ oferta.titulo }}"
                            data-descripcion="{{ oferta.descripcion }}">

                            {% if oferta.empresa.logo %}
                            <img src="{{ oferta.empresa.logo.url }}" alt="{{ oferta.empresa.razon_social }}"
                                class="oferta-logo">
                            {% else %}
                            <img src="{% static 'img/Logo camejobs.png' %}" alt="Logo Empresa" class="oferta-logo">
                            {% endif %}

                            <h2 class="oferta-titulo">{{ oferta.titulo }}</h2>

                            <div class="oferta-info">
                                <p class="oferta-empresa">{{ oferta.empresa.razon_social }}</p>
                                <p class="oferta-salario">${{ oferta.salario|floatformat:0 }} (Mensual)</p>
                            </div>

                            <div class="oferta-detalles-container">
                                <p class="oferta-detalle">{{ oferta.ubicacion }}</p>

                            </div>

                            <p class="oferta-fecha">📅 Publicado hace {{ oferta.fecha_publicacion|timesince }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p class="sin_ofertas">No hay ofertas disponibles.</p>
                    {% endfor %}
                </section>

                <!-- Modales -->

                {% for oferta in ofertas %}
                <div id="modal-{{ oferta.id }}" class="modal">
                    <div class="modal-contenido">
                        <span class="cerrar" onclick="cerrarModal('modal-{{ oferta.id }}')">&times;</span>

                        <div class="oferta-header">
                            {% if oferta.empresa.logo %}
                            <img src="{{ oferta.empresa.logo.url }}" alt="{{ oferta.empresa.razon_social }}"
                                class="oferta-logo">
                            {% else %}
                            <img src="{% static 'img/Logo camejobs.png' %}" alt="Logo Empresa" class="oferta-logo">
                            {% endif %}
                            <div class="oferta-titulo">
                                <h2>{{ oferta.titulo }}</h2>
                                <p><strong>{{ oferta.empresa.razon_social }}</strong></p>
                            </div>
                        </div>

                        <div class="modal-body">
                            <h3>Descripción:</h3>
                            <p>{{ oferta.descripcion }}</p>

                            <h3>Ubicación:</h3>
                            <p>{{ oferta.ubicacion }}</p>

                            <h3>Salario:</h3>
                            <p>${{ oferta.salario|floatformat:0 }}</p>

                            <h3>Fecha límite:</h3>
                            <p>{{ oferta.fecha_cierre }}</p>
                        </div>

                        <button class="postular-btn">Postularse</button>
                    </div>
                </div>
                {% endfor %}
            </div>

    </div>
    </main>

    <!-- Footer -->
    {% include 'usuarios/footer.html' %}
    
    <script src="{% static 'js/oferta.js' %}"></script>
    <script src="{% static 'js/filtro.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"> </script>
</body>

</html>