{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Camejobs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/ver_detalles_postulacion.css' %}">
    <link rel="icon" href="{% static 'img/Logo camejobs.png' %}">
</head>

<body>

    <h1>Detalles de la Postulación</h1>
    <div class="detalles">
        <h3>{{ postulacion.oferta.titulo }}</h3>
        <p><strong>Empresa:</strong> {{ postulacion.oferta.empresa.razon_social }}</p>
        <p><strong>Estado:</strong> {{ postulacion.estado }}</p>
        <p><strong>Fecha de Postulación:</strong> {{ postulacion.fecha_postulacion }}</p>
        {% if postulacion.estado == 'Aprobado' %}
            <a href="{% url 'calificar_empresa' postulacion.id %}">
                <button class="btn-calificar">Calificar Empresa</button>
            </a>
        {% endif %}
    </div>
    <a href="{% url 'postulaciones' %}">
        <button>Volver a Inicio</button>
    </a>
    
</body>
</html>